$dark-000: #c1c2c5;
$dark-100: #a6a7ab;
$dark-200: #909296;
$dark-300: #5c5f66;
$dark-400: #373a40;
$dark-500: #2c2e33;
$dark-600: #25262b;
$dark-700: #1a1b1e;
$dark-800: #141517;
$dark-900: #101113;

$sliver-000: #cccccc;
$sliver-100: #c7c7c7;
$sliver-200: #c2c2c2;
$sliver-300: #bdbdbd;
$sliver-400: #b8b8b8;
$sliver-500: #b3b3b3;
$sliver-600: #afafaf;
$sliver-700: #aaaaaa;
$sliver-800: #a5a5a5;
$sliver-900: #a0a0a0;

$white-000: #ffffff; // Pure white
$white-100: #fafafa;
$white-200: #f5f5f5;
$white-300: #f0f0f0;
$white-400: #eaeaea;
$white-500: #e5e5e5;
$white-600: #e0e0e0;
$white-700: #dbdbdb;
$white-800: #d6d6d6;
$white-900: #d1d1d1;

$black-000: #000000; // Pure black
$black-100: #050505;
$black-200: #0a0a0a;
$black-300: #0f0f0f;
$black-400: #141414;
$black-500: #191919;
$black-600: #1e1e1e;
$black-700: #232323;
$black-800: #282828;
$black-900: #2d2d2d;

$gray-000: #f8f9fa;
$gray-100: #f1f3f5;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #868e96;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

$red-000: #fff5f5;
$red-100: #ffe3e3;
$red-200: #ffc9c9;
$red-300: #ffa8a8;
$red-400: #ff8787;
$red-500: #ff6b6b;
$red-600: #fa5252;
$red-700: #f03e3e;
$red-800: #e03131;
$red-900: #c92a2a;

$pink-000: #fff0f6;
$pink-100: #ffdeeb;
$pink-200: #fcc2d7;
$pink-300: #faa2c1;
$pink-400: #f783ac;
$pink-500: #f06595;
$pink-600: #e64980;
$pink-700: #d6336c;
$pink-800: #c2255c;
$pink-900: #a61e4d;

$grape-000: #f8f0fc;
$grape-100: #f3d9fa;
$grape-200: #eebefa;
$grape-300: #e599f7;
$grape-400: #da77f2;
$grape-500: #cc5de8;
$grape-600: #be4bdb;
$grape-700: #ae3ec9;
$grape-800: #9c36b5;
$grape-900: #862e9c;

$indigo-000: #edf2ff;
$indigo-100: #dbe4ff;
$indigo-200: #bac8ff;
$indigo-300: #91a7ff;
$indigo-400: #748ffc;
$indigo-500: #5c7cfa;
$indigo-600: #4c6ef5;
$indigo-700: #4263eb;
$indigo-800: #3b5bdb;
$indigo-900: #364fc7;

$blue-000: #e7f5ff;
$blue-100: #d0ebff;
$blue-200: #a5d8ff;
$blue-300: #74c0fc;
$blue-400: #4dabf7;
$blue-500: #339af0;
$blue-600: #228be6;
$blue-700: #1c7ed6;
$blue-800: #1971c2;
$blue-900: #1864ab;

$cyan-000: #e3fafc;
$cyan-100: #c5f6fa;
$cyan-200: #99e9f2;
$cyan-300: #66d9e8;
$cyan-400: #3bc9db;
$cyan-500: #22b8cf;
$cyan-600: #15aabf;
$cyan-700: #1098ad;
$cyan-800: #0c8599;
$cyan-900: #0b7285;

$teal-000: #e6fcf5;
$teal-100: #c3fae8;
$teal-200: #96f2d7;
$teal-300: #63e6be;
$teal-400: #38d9a9;
$teal-500: #20c997;
$teal-600: #12b886;
$teal-700: #0ca678;
$teal-800: #099268;
$teal-900: #087f5b;

$green-000: #ebfbee;
$green-100: #d3f9d8;
$green-200: #b2f2bb;
$green-300: #8ce99a;
$green-400: #69db7c;
$green-500: #51cf66;
$green-600: #40c057;
$green-700: #37b24d;
$green-800: #2f9e44;
$green-900: #2b8a3e;

$lime-000: #f4fce3;
$lime-100: #e9fac8;
$lime-200: #d8f5a2;
$lime-300: #c0eb75;
$lime-400: #a9e34b;
$lime-500: #94d82d;
$lime-600: #82c91e;
$lime-700: #74b816;
$lime-800: #66a80f;
$lime-900: #5c940d;

$yellow-000: #fff9db;
$yellow-100: #fff3bf;
$yellow-200: #ffec99;
$yellow-300: #ffe066;
$yellow-400: #ffd43b;
$yellow-500: #fcc419;
$yellow-600: #fab005;
$yellow-700: #f59f00;
$yellow-800: #f08c00;
$yellow-900: #e67700;

$orange-000: #fff4e6;
$orange-100: #ffe8cc;
$orange-200: #ffd8a8;
$orange-300: #ffc078;
$orange-400: #ffa94d;
$orange-500: #ff922b;
$orange-600: #fd7e14;
$orange-700: #f76707;
$orange-800: #e8590c;
$orange-900: #d9480f;

//BACKGROUND
$primary-light-bg: $white-200;
$secondary-light-bg: $white-500;
$primary-dark-bg: $dark-600;
$secondary-dark-bg: $dark-400;

// TEXT
$into-light-text: $sliver-300;
$into-dark-text: $gray-700;

//COLOR
$primary-blue: $blue-400;

$primary-yellow: $yellow-500;

$primary-danger: $red-900;

$primary_gray: $dark-300;

$primary-white: $white-000;
